{% extends 'base.html' %}
{% block title %}Madlib{% endblock %}
{% block content %}
    <p> There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way. Then the {{ noun }} did a {{ verb }}. They were sad so they bought a 
    {% if noun2 %}
        {% for noun in noun2 %}
            {% if length >= 3 %}
              {% if noun == noun2[-1] %}
                and {{ noun }}.
              {% else %}
                 {{ noun }},
              {% endif %}
            {% elif length == 2 %}
               {% if noun == noun2[-1] %}
                {{ noun }}.
               {% else %}
                {{ noun }} and
               {% endif %} 
            {% else %}
                {{ noun }}. 
            {% endif %} 
        {% endfor %}
    {% endif %}</p>
{% endblock %}

